<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>REYES VERIFIER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- MY CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/misc.css') }}">
</head>

<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="">
                    <a href="/"><img src="{{ url_for('static', filename='images/icon/logo.png') }}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <li class=""><a href="/">Verify Files</a></li>
                                <li class=""><a href="/history">File History</a></li>
                                <li class="active"><a href="/settings">Settings</a></li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/">Home</a></li>
                                <li><span>Settings</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <br>
                <br>
                <h1>SETTINGS</h1>
                <form id="fileForm" action="/settings" method="POST" enctype="multipart/form-data">
                    <!-- File selection box -->
                    <div class="input-group mb-3">

                        <div class="custom-file" id="fileWrapper">
                            <input type="file" accept=".json" class="custom-file-input" id="jsonFileInput" name="jsonFileInput" aria-describedby="inputGroupFileAddon01">
                            <label id="file_input_label" class="custom-file-label" for="jsonFileInput">Choose File</label>
                        </div>
                        <div class="input-group-append">
                            <!-- Passes in the request object to upload() -->
                            <button class="btn btn-primary" onclick="settingsMsg(); $('#file_input_label').html('Choose a file')" type="submit" id="upload_btn" data-toggle="" aria-haspopup="" aria-expanded="false">Save Validation Settings</button>

                        </div>
                    </div>
                </form>

                <br> {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class=flashes>
                    {% for message in messages %} {% autoescape false %}
                    <p><strong></strong>{{ message }}</strong>
                    </p>
                    {% endautoescape %} {% endfor %}
                </ul>
                {% endif %} {% endwith %}

                <div id="settingsMsg"></div>
            </div>
        </div>

        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Created by Alex Guan and Kabir Mahajan for Reyes Beverage Group.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script>
        $('#jsonFileInput').on('change', function() {
            //get the file name
            var pathwithfilename = $(this).val();
            var fileName = pathwithfilename.substring(12);
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })

        // Get a reference to the file input element & input label and input type label
        var input = document.getElementById("jsonFileInput");
        var file_input_label = document.getElementById("file_input_label");

        // Function to upload file
        function upload(url) {
            // Reject if the file input is empty & throw alert
            if (!input.value) {

                show_alert("No file selected", "warning")

                return;
            }

            // Create a new FormData instance
            var data = new FormData();

            // Create a XMLHTTPRequest instance
            var request = new XMLHttpRequest();

            // Set the response type
            request.responseType = "json";

            // Clear any existing alerts
            alert_wrapper.innerHTML = "";

            // Disable the input during upload
            input.disabled = true;

            // Hide the upload button
            upload_btn.classList.add("d-none");

            // Show the loading button
            loading_btn.classList.remove("d-none");

            // Show the cancel button
            cancel_btn.classList.remove("d-none");

            // Show the progress bar
            progress_wrapper.classList.remove("d-none");

            // Get a reference to the file
            var file = input.files[0];

            // Get a reference to the filename
            var filename = file.name;

            // Get a reference to the filesize & set a cookie
            var filesize = file.size;
            document.cookie = `filesize=${filesize}`;

            // Append the file to the FormData instance
            data.append("file", file);

            // request progress handler
            request.upload.addEventListener("progress", function(e) {

                // Get the loaded amount and total filesize (bytes)
                var loaded = e.loaded;
                var total = e.total

                // Calculate percent uploaded
                var percent_complete = (loaded / total) * 100;

                // Update the progress text and progress bar
                progress.setAttribute("style", `width: ${Math.floor(percent_complete)}%`);
                progress_status.innerText = `${Math.floor(percent_complete)}% uploaded`;

            })

            // request load handler (transfer complete)
            request.addEventListener("load", function(e) {

                if (request.status == 200) {

                    show_alert(`${request.response.message}`, "success");

                } else {

                    show_alert(`Error uploading file`, "danger");

                }

                reset();

            });

            // request error handler
            request.addEventListener("error", function(e) {

                reset();

                show_alert(`Error uploading file`, "warning");

            });

            // request abort handler
            request.addEventListener("abort", function(e) {

                reset();
                resetInput();

                show_alert(`Upload cancelled`, "primary");

            });

            // Open and send the request
            request.open("post", url);
            request.send(data);

            cancel_btn.addEventListener("click", function() {

                request.abort();
                reset();
                resetInput();

            })

        }

        function settingsMsg() {
            document.getElementById("settingsMsg").innerHTML = "New validation settings updated";
        }

        function resetInput() {
            input.value = null;
        }

        // Function to reset the page
        function reset() {

            // Hide the cancel button
            cancel_btn.classList.add("d-none");

            // Reset the input element
            input.disabled = false;

            // Show the upload button
            upload_btn.classList.remove("d-none");

            // Hide the loading button
            loading_btn.classList.add("d-none");

            // Hide the progress bar
            progress_wrapper.classList.add("d-none");

            // Reset the progress bar state
            progress.setAttribute("style", `width: 0%`);

            // Reset the input placeholder
            file_input_label.innerHTML = "Select file";

        }
    </script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- start amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="{{ url_for('static', filename='js/customCharts.js') }}"></script>
    <!-- all bar chart activation -->
    <script src="{{ url_for('static', filename='js/bar-chart.js') }}"></script>
    <!-- all pie chart -->
    <script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
    <!-- others plugins -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>